
@{
    ViewBag.Title = "Rules";
}

<h2>Правила</h2>
<pre>
Количество пассажиров в транспортном средстве не должно превышать его пассажировместимость.

Право на внеочередные перевозки на такси предоставляется беременным женщинам, лицам с инвалидностью,
пассажирам с детьми дошкольного возраста и лицам пожилого возраста.

Расчеты за услуги такси проводятся после окончания перевозки.
 По требованию пассажира ему выдается чек в соответствии с оплаченной стоимости проезда.

В салоне такси разрешается перевозить вещи, которые свободно проходят через дверные проемы автомобиля
(без снятия ограничителей), не портят и не загрязняют салон, не мешают водителю управлять автомобилем
и пользоваться зеркалом заднего вида.

В багажном отделении такси разрешается перевозка груза, общий вес которого не превышает предусмотренную
техническими характеристиками транспортного средства, при условии свободного закрытия
и/или открытия крышки багажника.

Водитель такси несет ответственность за порчу или утрату принятого для перевозки багажа.

НА ЧТО ИМЕЕТ ПРАВО ПАССАЖИР ТАКСИ
Пассажир такси имеет право:
на высококачественные и безопасные перевозки;

Также пассажир имеет право требовать от водителя:

выполнение требований правил дорожного движения;
законодательства о защите прав потребителей;
проведение расчета согласно показаниям таксометра и выдачи ему чека;
осуществления перевозки без подсадки других пассажиров;
осуществления перевозки кратчайшим путем;
определять путь следования до пункта назначения;
перевозить на руках ребенка дошкольного возраста на заднем сиденье;
обращаться к автомобильному перевозчику и других организаций с требованием разъяснить порядок предоставления транспортных услуг и их оплаты;
на компенсацию причиненного ущерба.

ПАССАЖИР ТАКСИ ИМЕЕТ И ОПРЕДЕЛЕННЫЕ ОБЯЗАННОСТИ
осуществлять посадку и высадку с правой стороны только после полной остановки транспортного средства;
во время движения не отвлекать внимание водителя от управления транспортным средством;
не допускать действий, которые угрожают безопасности перевозки и дорожного движения;
не курить и не открывать окна в салоне без согласования с водителем и другими пассажирами;
рассчитаться с водителем в полном объеме по окончании поездки, в том числе в случае ее прекращения по собственному желанию, а в случае остановки по собственной потребности - оплатить часть перевозки, осуществленной, согласно показаниям таксометра и внести аванс на время ожидания по договоренности (если в пределах этого времени пассажир не явился, перевозка считается законченной).
</pre>
<div>
    @Html.ActionLink("Другие действия", "Index")
</div>

