body {
    background-color: floralwhite;
    font-size: 18px;
}

h3 {
    text-align: center;
}
.container.body-content {
/*    background-color: #fccea3;*/
    margin-top: 55px;
    width: 100%;
    margin: 30px;
    font-size: 18px;
}

/*.client_button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}*/
table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    border-top: 2px solid #000000;
}

th {
    padding: 10px 20px;
    background: #94a873;
    color: #2e4c1d;
    border-right: 2px solid #000000;
    
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}

    th:first-child {
        text-align: left;
    }

    th:last-child {
/*        border-right: none;*/
    }

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

    td:first-child {
        border-left: 2px solid #000000;
        /*border-right: none;*/
    }

    td:nth-child(2) {
        text-align: left;
    }


.partialView {
    float: left;    
    width: 400px;
   
}

td {
    text-align-last: center;
}
.clear{
    clear:both;
}
.save_button {
    margin-left: 215px;
}
h4{
    font:bold;
}
.box {
    width: 100%;
    overflow: hidden;
}

.block {
    width: 30%;
    box-sizing: border-box;
    margin: 0 1.65%;
    float: left;
    padding: 5px 15px;
    background: floralwhite;
}

.image1, .image2 {
    float: right
}

#CarCategoryId {
    height:40px;
    width:100px;
}
.car {
    width: 93px;
}

.category {
    width: 90px;
}

.phone {
    width: 110px;
}

.number {
    width: 85px;
}

.date {
    width: 100px;
    white-space:nowrap;
}

.startTime {
    width: 40px;
}

.adr {
    width: 300px;
}

.rulesList {
    width: 500px;
/*    float: right;*/
}

.buttons{
    float:right;
}

