
@{
    ViewBag.Title = "Rules";
}

<h3>ПРАВА И ОБЯЗАННОСТИ ВОДИТЕЛЯ ТАКСИ В УКРАИНЕ</h3>

Водитель такси имеет право:
<ul>
    <li>осуществлять посадку пассажиров на стоянке в порядке очереди, предоставлять право внеочередного пользования такси согласно законодательству;</li>
    <li>открывать двери такси, открывать багажник и проверять его закрытие во время посадки пассажиров;</li>
    <li>сообщать пассажирам о размере оплаты проезда, показания таксометра в начале и в конце поездки и разъяснять порядок пользования такси;</li>
    <li>осуществлять перевозки до пункта назначения по определенному пассажиром маршруту или кратчайшим путем с согласия пассажира;</li>
    <li>соблюдать определенный законодательством режим труда и отдыха;</li>
    <li>быть вежливым и внимательным к пассажирам;</li>
    <li>иметь с собой и предъявлять для проверки уполномоченным лицам предусмотренные законодательством документы;</li>
    <li>получать согласие пассажира на предлагаемую другим лицам поездку;</li>
    <li>передавать забытые вещи в городской стол находок;</li>
    <li>принимать меры для своевременной доставки пассажиров к месту назначения в случае выхода транспортного средства из строя (остановить попутное такси, вызвать такси по телефону и т.п.);</li>
    <li>помочь пассажиру разместить багаж;</li>
    <li>выдать по требованию пассажира чек для оплаты транспортной услуги.</li>
</ul>
<br />
        Также водитель такси имеет право отказать в поездке пассажиру, если он:
<ul>
    <li>находится в состоянии алкогольного или наркотического опьянения, нарушает общественный порядок;</li>
    <li>имеет при себе вещи, запрещенные к перевозке, может испачкать салон автомобиля.</li>
</ul>
<br/>
Водитель также может потребовать от автомобильного перевозчика создание условий для безопасной работы на маршруте,
 соблюдение режима труда и отдыха водителей.

<h3>ЧТО ВОДИТЕЛЮ ТАКСИ ЗАПРЕЩАЕТСЯ</h3>
    <ul>
        <li>отказывать пассажиру в обслуживании, кроме случаев, предусмотренных Правилами;</li>
        <li>предлагать лицу поездку без согласия пассажиров, находящихся в салоне такси;</li>
        <li>осуществлять перевозки пассажиров, если в автомобиле такси отсутствует или не работает таксометр;</li>
        <li>перевозить группу пассажиров в количестве, превышающем пассажировместимость транспортного средства;</li>
        <li>устанавливать за поездку размер платы, не соответствует показаниям таксометра;</li>
        <li>выбирать пассажиров по выгодности их следования;</li>
        <li>навязывать общий проезд нескольким пассажирам или осуществлять перевозку пассажиров не кратчайшим путем, если на то отсутствует их согласие;</li>
        <li>перевозить в автомобиле острые и режущие предметы, пожароопасные, взрывчатые, ядовитые, едкие, смрадные,
        <li>наркотические вещества, огнестрельное оружие без чехлов, другие опасные предметы;</li>
        <li>перевозить животных;</li>
        <li>брать плату с пассажиров за время простоя в случае остановки в пути по вине водителя;</li>
        <li>есть, пить и курить во время движения.</li>
    </ul>
    <div>
        @Html.ActionLink("Другие действия", "Index")
    </div>
