@{
    ViewBag.Title = "Contact";
}
<h2>Контакты</h2>


<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Оставить отзыв о нашей работе:</strong>info@2040.com.ua или 0947126648
</address>