body {
    background-color: floralwhite;
    font-size: 16px;
}

input {
    margin: 0;
    padding: 0;
    width:100%;
}
    h3 {
    text-align: center;
}

#item_Number{
width:80px;
}
#item_Date {
    width: 80px;
}
#item_StartTime {
    width: 55px;
}
#item_FinishTime {
    width: 55px;
}
#item_StartAdress {
    width: 160px;
}
#item_FinishAdress {
    width: 160px;
}
#item_Car{
    width: 110px;
}
#item_Category {
    width: 90px;
}
#item_IsDone {
    width: 30px;
}
#item_ClientPhone {
    width: 120px;
}
.car{
    width:93px;
}

.category{
    width:90px;
}
.phone{
    width:110px;
}

.number{
    width: 85px;
}
.date {
    width: 80px;
}
.startTime {
    width: 55px;
}
.adr{
    width:300px;
}
.isDone{
    width:30px;
}

table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width:85%;
}

th {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
}

    th:first-child {
        text-align: left;
    }

    th:last-child {
        border-right: none;
    }

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

    td:first-child {
        border-left: 2px solid #56433D;
        /*border-right: none;*/
    }

    td:nth-child(2) {
        text-align: left;
    }
.body-content {
    margin-top: 100px;
    width: 100%;
    margin: 30px;
}


/*#btn_api_submit1, div input.btn.btn-default {
    background: #d1ac7c;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}
    #btn_api_submit1:hover, div input.btn.btn-default:hover {
        background: #F9C941;
    }

    #btn_api_submit1:active, div input.btn.btn-default:active {
        background: #d1ac7c;
    }*/
.rulesList {
    width:700px;
    float:right;
}